body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.header {
  width: 100%;
  padding: 15px 0;
  z-index: 10;
  top: 0;
}

header img {
  width: 36px;
  height: 36px;
}
.header h1 {
  margin-bottom: 5px;
}

.header h1 a {
  font-weight: bold;
  color: #5a5a5acc;
  font-size: 20px;
  text-transform: uppercase;
}

header .container {
  display: flex;
  align-items: center;
  margin: 0 32px;
  text-align: left;
  margin-left: 45px;
  height: 18px;
}

.header_menu ul {
  display: flex;
  margin-left: 10px;
  margin-bottom: 5px;
}

.header_menu li {
  margin-left: 25px;
}
.header_menu a {
  font-size: 16px;
  color: #000000cc;
}

.header_menu a:hover {
  border-bottom: 3px solid #000000aa;
}

.introducao {
  width: 1150px;
  height: 300px;
  background: url("./images/bg1.jpg") no-repeat center;
  background-size: cover;
  padding-top: 120px;
  margin-left: 48px;
}

.introducao h2 {
  font-size: 25px;
  color: white;
  margin: 90px 0 10px 110px;
}

.content-section p {
  color: #fff;
  margin-left: 103px;
  margin-bottom: 50px;
  margin-top: 15px;
  font-size: 12px;
  line-height: 1;
}

.dc-center {
  margin-left: 15px;
  color: white;
}

.dc-sign {
  margin-left: 60px;
}

.dc-second {
  margin-left: 5px;
}

.btn {
  background: #fff;
  padding: 10px 35px;
  color: #000000cc;
  margin: 50px 0 0 106px;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.7;
}

.depoiments {
  text-align: center;
  margin-top: 5px;
  font-size: 25px;
}

.depoiments hr {
  border: 1px solid #5a5a5acc;
  width: 80px;
  margin-bottom: -10px;
}

.depoiments img {
  height: 92px;
  width: 92px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.depoiments h2 {
  font-weight: bold;
  color: #5a5a5acc;
}

.box-depoiments {
  height: 400px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  color: #000000cc;
  font-style: italic;
}
